body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#product-list {
  display:flex;
  flex-wrap: wrap;
  text-align: center;
 
  margin: auto;
  width: 50%;
  margin-top: 7%;

  
}

#product-list div {
  
  padding: 20px;
  width: 23%;
  max-height: 100%;
  max-width: 100%;
}



#productSideBar {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
   
    width: 10%;
    position: absolute;

}

#productSideBar li {
  margin-bottom: 5px;
  cursor: pointer;
  
}

#productListCategoryHeader {
  text-align: center;
  width: 60%;
  position: absolute;
  top: 25%;
  font-style:normal;
}

#logo {
 width: 10%;
 height: auto;
 padding-inline-start: 40px;
 
}

#navbar {
  
  text-align: right;
  
  
}

.navbar {
  background-color: #e4000F;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.nav-link{
  font-family: 'Roboto', sans-serif;
  color: white !important;
  margin-left: 10px;
  margin-right: 20px;
  
 
 
}

.nav-logo {
  
  float:right;
  width: 50%;
}



#productItemDisplay  {
 margin: auto;
 text-align: center;
  width: 50%;
  margin-top: 10%;
  
}


#productItemDisplay img {
  float: left;
}

#showcase{
  text-align: center;
  
  width: 50%;
  margin: auto;
  float: left;
  margin-top: 10%;
  position: relative;
}

#showcaseImage {
  margin-top: 10%;
  
}

#showNowBtn {
position: absolute;

width: 100%;

margin-top: 5%;
}

#showNowBtn button {
  
 
  width: 15%;
  height: 100%;
  font-size: larger;
  background-color: #e4000F;
  color: white;
  padding: 10px;
  font-weight: bolder;
}

  


