body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#product-list {
  display:flex;
  flex-wrap: wrap;
  text-align: center;
 
  margin: auto;
  width: 50%;
  margin-top: 3%;

  
}

#product-list div {
  
  padding: 20px;
  width: 23%;
  max-height: 100%;
  max-width: 100%;
  
}



#productSideBar {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
   
    width: 10%;
    position: absolute;
    

}

#productSideBar li {
  margin-bottom: 5px;
  cursor: pointer;
 
  
}

#productListCategoryHeader {
  text-align: center;
  width: 60%;
  margin-top: 5%;
  font-style:normal;
  
}


#product-Card:hover  #addToCartBtn{
  display: initial;
  border: 2px solid black;
  
}



#addToCartBtn{
 
  border-radius: 4px;
  background-color: #e4000F;
  color: white;
  display: none;
 
}






   /*

<div id="testContainer"> <button id="revealButton">Hover this</button>
             
              <div id="hide">This should appear after hovering</div>
         </div>
              
        </div>

        #productCardImg:hover + #addToCartBtn{
  border: 2px solid black;
  display: block;
}

#hide {
  border: 2px solid black;
  display: none;
}
        */





#sortByHeader {
  margin-bottom: 30%;
  
}

#logo {
 width: 10%;
 padding-inline-start: 40px;
 
}

#navbar {
  
  text-align: right;
  font-weight:600;
  
  
}

.navbar {
  background-color: #e4000F;
  
}
.navbar .ml-auto a{
 
  margin-left: 10px;
  margin-right: 10px;
  color: white !important;
}
.navbar .navbar-brand {
  color: #ecf0f1;
  
}
.nav{
  font-family: 'Roboto', sans-serif;
  color: white !important;
  margin-left: 10px;
  margin-right: 20px;
  
  
}

#container {
  margin: auto;
  width: 80%;
}


#shoppingCartContainer {

  position: absolute;
  top: 15%;
  right: 1%;
  width: 25%;
}

#shoppingCart {
  margin: 10px 0;
  background: white;
  
  right: 5%;
  border-radius: 3px;
  padding: 20px;
  border: solid black 2px;
  width: 100%;
  list-style: none;
  display: inline-block;
  
}




#shoppingCartHeader {
  text-align: center;
  margin-bottom: 10%;
}

#cartItem {
  padding: 1%;
}
#cartItem li{
  text-align: right;
 
 
 
  
}
#cartItem img {
  float: left;
  width: 25%;
  
}
#removeButton {
  width: 12%;
  float: left;
  font-size: 60%;
  text-align: center;
}

#cartItem button{
  margin: 1%;
  border-radius: 4px;
  background-color: #e4000F;
  color: white;
}

#totalCartCostHeader {
  
  display: inline-block;
}

#checkOutBtn{
  display: inline-block;
 
  border-radius: 4px;
  background-color: #e4000F;
  color: white;
  margin-top: 10%;
  margin-left: 30%;
  width: 150px;
  height: 50px;
  font-size: large;
 
}



#productItemDisplay  {
 margin: auto;
 text-align: center;
  width: 50%;
  margin-top: 10%;
  
}


#productItemDisplay img {
  float: left;
}

#showcase{
  text-align: center;
  
  width: 50%;
  margin: auto;
  float: left;
  margin-top: 0;
  position: relative;
  
}

#showcaseImage {
  margin-top: 13%;
  
  
}

#showNowBtn {
position: absolute;

width: 100%;

margin-top: 5%;
}

#shopNowLink {
  border: solid 2px black;
  padding: 20px;
  background-color: #e4000F;
  color: white;
  font-weight: 500;
 
}

 

